@charset "utf-8";
.cls{clear:both;}
a:focus{outline:none;}

.menu{height:50px;display:block;padding:0px;width:999px;margin:0 auto;}
.menu ul{list-style:none;padding:0;margin:0;}
.menu ul li{float:left;overflow:hidden;position:relative;line-height:50px;text-align:center;}
.menu ul li a{position:relative;display:block;width:111px;height:50px;font-family:"微软雅黑", "宋体";font-size:14px;text-decoration:none;cursor:pointer;font-weight:bold;line-height:50px;}
.menu ul li a span{position:absolute;left:0;width:111px;}
.menu ul li a span.out{top:0px;}
.menu ul li a span.over,  .menu ul li a span.bg{top:-50px;}
#menuTop{background-color:#00AFE4;}
#menuTop ul li a{color:#FFFFFF;}
#menuTop ul li a span.over{color:#FFF;height:50px;width:111px;background-color:#FABD00;}